/* Background slider */
.slider {
  position: absolute;
  left: 5%;
  /* top: 0; */
  height: 80%;
  width: 44%; /* 50% to cover half the container */
  background-color: #f7931e; /* Orangish color */
  border-radius: 1rem;
  transition: all 0.4s ease-out; /* Smooth transition */
  /* margin: 0.8rem 0; */
}

.slider-bn {
  left: 50%; /* Slide to the left for Bangla */
  width: 44%;
}

.slider-en {
  left: 5%; /* Slide to the right for English */
}

.active {
  color: white;
}
